.cabecalho {
    background: black;
    font-family: 'Sansita Swashed', cursive;
}

.contato{
    margin-bottom: 150px;
}

.finalizar:hover{
    cursor: pointer;
}

.link{
    color:white;
    text-decoration: none;
}

.link:hover {
    color: white;
    text-decoration-line: none;

}

.login{
    margin: 4.8em auto;
    width: 50%;
}

.mostra-adm-usuarios{
    display: none;
}

.principal{
    margin: 0 auto;
    width: 40%;
}

.rodape{
    margin-top: 200px;;
}

.sair{
    cursor: pointer;
}

.tabela{
    margin-bottom: 200px;
}